@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Poppins:wght@200;300;500;600;700;800;900&family=Sail&family=Ubuntu+Condensed&display=swap');



body * {


    font-family: 'Poppins';
    box-sizing: border-box;

}

body {
    width: 100%;

    margin: 0px;

}

.section1 {
    background-color: #ffcc00;
    width: 100vw;

    display: grid;
    grid-template-columns: 400px 1fr 50%;
    grid-template-rows: 20% 1fr 20%;
    grid-template-areas: "logo . play"
        ". . play"
        "now . play";


}

@media (max-width:480px) {

    .section1 {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logo" "play" "now";
    }
}

@media (max-width:768px) {

    .section1 {

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: "logo" "play" "now";
    }


}


.logo-img {
    grid-area: logo;


}

.logo-svg {
    width: 60%;

    margin: 15px;
}

.now-play p {
    line-height: 0%;
    max-width: 100%;

}

.now-play {
    align-self: self-end;
    grid-area: now;
    margin: 15px;
    font-size: 14px;
    font-weight: 200;

}

.light-text {
    font-weight: 300;
}

.bold-text {
    font-size: 36px;
    font-weight: bold;

}

.song-text {
    font-size: 20px;
    font-weight: 300;
}



.play-img {
    grid-area: play;
    width: 100%;
    height: 100%;




}

.play-svg {
    max-width: 100%;


}



.section2 {

    background-color: #660099;
    display: block;
}


.section3 {
    background-color: #ffcc00;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: "b-t b-t b-c"
        "l-j . fm1";

}




/* come far funzionare una regola in media query solo per le singole class??? */

/* @media (max-width:480px) {
.big-text {
    
        font-size: 124px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 122px;
        letter-spacing: -10px;
        margin: 0;
 
}} */




.big-text {
    grid-area: b-t;
    margin: 0;
}

.big-text-inside {
    font-size: 320px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 250px;
    letter-spacing: -10px;
    margin: 0;
}

.black-circle {
    grid-area: b-c;

}

.black-circle-svg {
    width: 40%;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

/* .letter-j {
    grid-area: l-j;
    width: 55%;
    

} */

.letter-j-svg {
    width: 60%;
    margin-left: 15px;
    margin-top: -220px;
    vertical-align: middle;
    position: relative;
    top: 0px;
    max-width: 80%;
    grid-area: l-j;

}

.fm-list1 {
    grid-area: fm1;
    grid-row-start: 1;
    align-self: flex-end;


}

.space-blank {
    text-align: right;
}




.title-fm1 {

    font-size: 100px;
    font-weight: 300;
    border-bottom: 1px solid;
    padding-bottom: -50px;
}




.tuner-list,
.list1-element {
    padding: 24px;
    font-size: 24px;
    font-weight: 300;
    border-bottom: 1px solid;

}

.list1-element {
    display: flex;
    justify-content: space-between;
}

.space-blank {

    width: 100px;
}

@media (max-width:480px) {
    .section3 {
        display: grid;
        width: 100vw;
        grid-template-columns: 1fr;

        grid-template-areas: 
        "b-t"
        "fm1";
        margin: auto;
    }


    



}


.section4 {
    padding-top: 50px;
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-row: 25% 1fr;
    grid-template-areas: "fm2 l-a" "fm2 l-a";

}


@media (max-width:480px) {
    .section4 {
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "l-a" "fm2";
    }
}

.letter-a {
    grid-area: l-a;
    width: 100%;
    padding-right: 0;



}

.letter-a-svg {
    width: 100%;


}

.list2 {
    grid-area: fm2;
    margin-left: 25px;

}

.title-fm2 {

    font-size: 50px;

}

.list2-element {
    border-bottom: 1px solid black;
    font-size: 30px;
    margin: 20px;

}

.section5 {
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: self-start;
    padding-top: 25px;
    display: -webkit-flex;
    min-height: 100vh;



}



.little-number {
    font-size: 60px;
    font-weight: 100;
}


.title-device-section {
    font-size: 120px;
    width: 100%;
    text-align: right;
    font-weight: 300;
    border-bottom: 1px solid black;
    padding-right: 500px;

}

.title-device {
    text-align: left;
    width: 50%;
    font-size: 80px;
    border-bottom: 1px solid black;
    font-weight: 300;
    padding-left: 15px;
}

.device-message {
    width: 50%;
    font-size: 30px;
    border-bottom: 1px solid black;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 200;
    text-align: right;
    padding-right: 15px;
}


.letter-double-j {
    width: 45%;
    max-width: 100%;
    margin: 30px auto;

}

.letter-double-j-svg {
    width: 100%;
    max-width: 100%;
}

@media (max-width:480px) {
    .section5 {
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;

    }


}

.section6 {
    background-color: #660099;
    display: block;


}


.bg-big2 {
    width: 100%;
}




.section7 {
    width: 100%;
    align-content: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas:
        "b-t-2 b-t-2 b-c2"
        ". . mon-li"
        "tue-li wed-li ."
        ". thu-li ."
        ". . fri-li"
        "sat-li sun-li ."
    ;

}

@media (max-width:480px) {
    .section7 {
        width: 100vw;
        justify-content: start;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "b-t-2"
            "mon-li"
            "tue-li"
            "wed-li"
            "thu-li"
            "fri-li"
            "sat-li"
            "sun-li";
    }

}

@media (max-width:768px) {
    .section7 {
        width: 100vw;
        justify-content: start;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas:
            "b-t-2"
            "mon-li"
            "tue-li"
            "wed-li"
            "thu-li"
            "fri-li"
            "sat-li"
            "sun-li";
    }

    .schedule-txt {
        margin-top: 100px !important;
        font-size: 150px !important;
        line-height: 120px !important;

    }

}


.title-sett-list {
    border-top: none !important;
    font-size: 100px;
    font-weight: 300;

}

.sett-list {
    font-size: 24px;
    font-weight: 300;

}

.sett-item-list {
    border-bottom: 0.5px solid rgb(180, 178, 178);
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
}

.big-text2 {

    grid-area: b-t-2;
    line-height: 20px;
    margin-top: -100px;
    max-width: 100%;

}

.schedule-txt {
    font-size: 300px;
    line-height: 250px;
    margin-top: -100px;
    max-width: 100%;


}

.big-circle2 {
    width: 80%;
    grid-area: b-c2;
    justify-self: end;
}

.bc-svg2 {
    margin-top: 100px;

}



.mon-list {
    width: 100%;
    grid-area: mon-li;
}

.tue-list {
    width: 100%;
    grid-area: tue-li;
}

.wed-list {
    width: 100%;
    grid-area: wed-li;
}

.thu-list {
    width: 100%;
    grid-area: thu-li;
}

.fri-list {
    width: 100%;
    grid-area: fri-li;
}

.sat-list {
    width: 100%;
    grid-area: sat-li;
}

.sun-list {
    width: 100%;
    grid-area: sun-li;
}


.section8 {
    background-color: #ffcc00;
    width: 100%;
    height: 100%;




}

.anim-contain {

width: 10000px;
    animation: 10s linear 0s infinite normal none running textscroll;
    transform:translateX(0);
    
   
    



}

.scorr-text p {
    font-size: 200px;
    border-top: 1px solid black;
    margin: 50px;
    animation-name: textscroll;
    text-align: center;
    



}



.img-keyboard {
    width: 100%;
    display: flex;
    align-content: center;



}

.keyboard-svg {
    width: 60%;
    margin: auto;



}

.section9 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". l-j" ". l-j";

    background-color: #0099ff;

}


.sheep-sticky {
    position: sticky;
    top: 0;
    width: 100%;




}

.sheep-svg {
    width: 50%;

}

.list-jazz-title {
    color: white;
    font-size: 100px;
    font-weight: 300;
    grid-area: l-j-t;
    margin: 0;



}

.list-jazz-item {
    color: white;
    font-size: 24px;
    font-weight: 100;
    border-top: 1px solid white;
    padding: 30px;

}

.list-jazz {
    grid-area: l-j;

}


.section10 {
    background-color: #660099;
}

.bg-3 {
    width: 100%;
}

@media (max-width:480px) {
    .section9 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "l-j";
    }
}



.section11 {
    background-color: #ffcc00;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 1fr;
    grid-template-areas: ". b-c3" ". l-c";
}

@media (max-width:480px) {
    .section11 {
        display: flex;
        flex-wrap: wrap;

    }
}

.contact-sticky {
    position: sticky;
    top: 0;
}

.text-sticky {
    font-size: 200px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 170px;
    letter-spacing: -10px;
    margin: 0;
}

.list-contact {
    grid-area: l-c;
}

.list-contact div {
    padding: 24px 8px;
    border-top: 1px solid black;
}

.black-circle3 {
    grid-area: b-c3;
    width: 100%;

}

.black-circle-svg3 {
    width: 25%;
    float: right;
    margin: 20px;

}

.small-text {
    font-size: 24px;
    font-weight: 300;

}

.text-row {

    display: flex;
    justify-content: space-between;
}

.social-title {
    font-size: 116px;
    font-weight: 300;
    display: flex;
    letter-spacing: -5px;

}

.social-title img {
    width: 74px;

}

.medium-text {

    font-size: 32px;
    font-weight: 300;
    padding: 48px !important;
}

.foot-text {
    padding: 48px !important;
    font-size: 24px;
    font-weight: 300;
}


@keyframes textscroll {

    100% {
        transform: translateX(-5000px)
    }
}


.last-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}


.mouth {

    height: 50vw;
    background-color: #660099;
    display: grid;
    justify-content: center;
    align-content: center;

}

.mouth img {

    place-self: center;
    width: 60%;



}


.arrow {

    height: 50vw;
    background-color: #ff3333;
    display: grid;
    justify-content: center;
    align-content: center;

}

.arrow img {
    place-self: center;
    width: 60%;

}



@media (max-width:480px) {

    .last-section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .mouth {
        width: 100vw;
        height: 100vw;




    }

    .arrow {
        width: 100vw;
        height: 100vw;




    }
}