@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,700&family=Poppins:wght@200;300;500;600;700;800;900&family=Sail&family=Ubuntu+Condensed&display=swap');



body * {

    font-family: 'Poppins';
    box-sizing: border-box;
    
}

body {
    margin: 0px;

}

.section1 { 
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    grid-template-rows: 25% 1fr 25%;
    grid-template-areas: "logo . play"
    ". . play"
    "now . play";


}

.logo-img {
    grid-area: logo;


}

.logo-svg {
    max-width: 100%;
    margin: 15px;
}


.now-play {

    grid-area: now;
    margin: 15px;
}

.play-img {
    grid-area: play;


}

.play-svg {
    max-width: 100%;

}



.section2 {

    background-color: #660099;
    display: block;
}


.section3 {
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "b-t b-c"
    "l-j fm1";
   
}

.big-text {
    grid-area: b-t;
    margin: 0;
}

.big-text-inside {
    font-size: 200px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 170px;
    letter-spacing: -10px;
    margin: 0;
}

.black-circle {
    grid-area: b-c;

}

.black-circle-svg {
    width: 40%;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.letter-j {
    grid-area: l-j;
    width: 55%;

}

.letter-j-svg {
    max-width: 100%;
margin-left: 25px;
    margin-top: -320px;
}

.fm-list1 {
    grid-area: fm1;
    
    
    

}


.title-fm1 {

    font-size: 50px;
}
.list1-element {
    border-top: 1px solid black;
    font-size: 30px;
    margin: 20px;
   
}

.space-blank {

    width: 100px;
}

.section4 {

    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-row: 25% 1fr ;
    grid-template-areas: "fm2 l-a" "fm2 l-a";

}

.letter-a {
    grid-area: l-a;
    width: 80%;
}

.letter-a-svg {
    max-width: 100%;
}

.list2 {
    grid-area: fm2;
    margin-left: 25px;

}

.title-fm2 {

    font-size: 50px;

}
.list2-element {
    border-top: 1px solid black;
    font-size: 30px;
    margin: 20px;
   
}

.section5 {
    background-color: #ffcc00;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: self-start;
padding-top: 25px;
   
   
}

.little-number {
    font-size: 60px;
    font-weight: 100;
}


.title-device-section {
    font-size: 120px;
    width: 100%;
    text-align: right;
    font-weight: 300;
    border-bottom: 1px solid black;
    margin-right: 25px;
}
.title-device {
width: 50%;
    font-size: 80px;
    border-bottom: 1px solid black;
    font-weight: 300;
    padding-left: 15px;
}

.device-message {
    width: 50%;
    font-size: 30px;
    border-bottom: 1px solid black;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 200;
    text-align: right;
    padding-right: 15px;
}


.letter-double-j {
    width: 45%;
    margin: 20px;
}
.letter-double-j-svg {
    width: 100%;
}

.section6 {
    background-color: #660099;
    display: block;

}
















.last-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}


.mouth {
    width: 50vw;
    height: 50vw;
    background-color: #660099;
    display: grid;
    justify-content: center;
    align-content: center;

}

.mouth img {

    place-self: center;
    width: 60%;


    ;
}


.arrow {
    width: 50vw;
    height: 50vw;
    background-color: #ff3333;
    display: grid;
    justify-content: center;
    align-content: center;

}

.arrow img {
    place-self: center;
    width: 60%;

}









@media (max-width:480px) {

    .last-section {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .mouth {
        width: 100vw;
        height: 100vw;




    }

    .arrow {
        width: 100vw;
        height: 100vw;




    }
}